* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

/* fraunces-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/fraunces-v38-latin-regular.woff2../') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fraunces-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/fraunces-v38-latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.different {
    margin: 200px 0;
}

.container {
    width: 1045px;
    margin: 0 auto;
}

.different-title {
    margin-bottom: 72px;
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    color: rgba(131, 136, 143, 1);

}
.different-list{
    display: flex;
    justify-content: space-between;
}
.different-item{
    width: 285px;
}
.different-item-title{
     margin-bottom: 24px;
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0px;
}
.different-item-element{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-bottom: 45px;
    background-repeat: no-repeat;
}
.uk{
   background-image: url(../img/uk.png);
}
.canada{
    background-image: url(../img/canada.png);
}
.australia{
    background-image:url(../img/australia.png);
}